body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u15550 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:1110px;
  height:900px;
  display:flex;
}
#u15550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:70px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u15551 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:106px;
  width:151px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u15551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:901px;
}
#u15552 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:1px;
  height:900px;
  display:flex;
}
#u15552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:66px;
  background:-webkit-linear-gradient(334.134928659922deg, rgba(58, 142, 230, 1) 36%, rgba(58, 142, 230, 1) 36%, rgba(102, 177, 255, 1) 64%, rgba(102, 177, 255, 1) 64%);
  background:-moz-linear-gradient(115.865071340078deg, rgba(58, 142, 230, 1) 36%, rgba(58, 142, 230, 1) 36%, rgba(102, 177, 255, 1) 64%, rgba(102, 177, 255, 1) 64%);
  background:linear-gradient(115.865071340078deg, rgba(58, 142, 230, 1) 36%, rgba(58, 142, 230, 1) 36%, rgba(102, 177, 255, 1) 64%, rgba(102, 177, 255, 1) 64%);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15553 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:1110px;
  height:66px;
  display:flex;
  color:#FFFFFF;
}
#u15553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u15554 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:55px;
  width:96px;
  height:37px;
  display:flex;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u15554 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15554_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u15555 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:67px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u15555 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15555_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15556 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:49px;
  width:50px;
  height:50px;
  display:flex;
}
#u15556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u15557 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:58px;
  width:30px;
  height:33px;
  display:flex;
}
#u15557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
}
#u15558 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:51px;
  width:25px;
  height:28px;
  display:flex;
}
#u15558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u15559 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:84px;
  width:26px;
  height:15px;
  display:flex;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u15559 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15559_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15560 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:425px;
  width:1px;
  height:22px;
  display:flex;
}
#u15560 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15560_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u15561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15561 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u15561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15562 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u15562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(166, 205, 251, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u15563 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u15563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15564 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u15564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15565 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u15565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u15566 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:195px;
  width:25px;
  height:25px;
  display:flex;
}
#u15566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u15567 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:195px;
  width:72px;
  height:24px;
  display:flex;
  font-size:18px;
}
#u15567 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15567_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15568 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:275px;
  width:64px;
  height:22px;
  display:flex;
}
#u15568 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15568_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u15569 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:364px;
  width:25px;
  height:25px;
  display:flex;
}
#u15569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u15570 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:364px;
  width:72px;
  height:24px;
  display:flex;
  font-size:18px;
}
#u15570 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15570_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15571 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:400px;
  width:64px;
  height:22px;
  display:flex;
}
#u15571 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15571_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15572 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:433px;
  width:100px;
  height:22px;
  display:flex;
}
#u15572 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15572_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15573 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:308px;
  width:100px;
  height:22px;
  display:flex;
}
#u15573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15573_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u15576 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:121px;
  width:40px;
  height:40px;
  display:flex;
}
#u15576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15577 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:126px;
  width:30px;
  height:30px;
  display:flex;
}
#u15577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u15578 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:127px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u15578 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15578_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15579 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u15579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008080;
}
#u15580 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:239px;
  width:64px;
  height:22px;
  display:flex;
  color:#008080;
}
#u15580 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15580_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15581 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:195px;
  width:863px;
  height:283px;
}
#u15582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
}
#u15582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u15582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
}
#u15583 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:0px;
  width:197px;
  height:33px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u15583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:33px;
}
#u15584 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:0px;
  width:165px;
  height:33px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u15584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:33px;
}
#u15585 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:0px;
  width:317px;
  height:33px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u15585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
}
#u15586 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:0px;
  width:123px;
  height:33px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u15586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
}
#u15587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:61px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:50px;
}
#u15588 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:33px;
  width:197px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u15589 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:33px;
  width:165px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
}
#u15590 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:33px;
  width:317px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:50px;
}
#u15591 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:33px;
  width:123px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
}
#u15592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:61px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:50px;
}
#u15593 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:83px;
  width:197px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u15594 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:83px;
  width:165px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
}
#u15595 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:83px;
  width:317px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:50px;
}
#u15596 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:83px;
  width:123px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
}
#u15597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:61px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:50px;
}
#u15598 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:133px;
  width:197px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u15599 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:133px;
  width:165px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
}
#u15600 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:133px;
  width:317px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u15600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:50px;
}
#u15601 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:133px;
  width:123px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
}
#u15602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:183px;
  width:61px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:50px;
}
#u15603 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:183px;
  width:197px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u15604 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:183px;
  width:165px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
}
#u15605 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:183px;
  width:317px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:50px;
}
#u15606 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:183px;
  width:123px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
}
#u15607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:233px;
  width:61px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:50px;
}
#u15608 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:233px;
  width:197px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u15609 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:233px;
  width:165px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:50px;
}
#u15610 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:233px;
  width:317px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:50px;
}
#u15611 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:233px;
  width:123px;
  height:50px;
  display:flex;
  text-align:left;
}
#u15611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
  background:-webkit-linear-gradient(280deg, rgba(64, 158, 255, 1) 0%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  background:-moz-linear-gradient(170deg, rgba(64, 158, 255, 1) 0%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  background:linear-gradient(170deg, rgba(64, 158, 255, 1) 0%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 100%, rgba(0, 102, 255, 1) 100%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15612 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:145px;
  width:92px;
  height:31px;
  display:flex;
  color:#FFFFFF;
}
#u15612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u15614 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:386px;
  width:40px;
  height:40px;
  display:flex;
}
#u15614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u15615 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:394px;
  width:24px;
  height:24px;
  display:flex;
}
#u15615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u15617 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:436px;
  width:40px;
  height:40px;
  display:flex;
}
#u15617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u15618 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:444px;
  width:24px;
  height:24px;
  display:flex;
}
#u15618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u15620 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:286px;
  width:40px;
  height:40px;
  display:flex;
}
#u15620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u15621 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:294px;
  width:24px;
  height:24px;
  display:flex;
}
#u15621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u15623 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:335px;
  width:40px;
  height:40px;
  display:flex;
}
#u15623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u15624 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:341px;
  width:28px;
  height:28px;
  display:flex;
}
#u15624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u15626 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:234px;
  width:40px;
  height:40px;
  display:flex;
}
#u15626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u15627 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:242px;
  width:24px;
  height:24px;
  display:flex;
}
#u15627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15628 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:161px;
  width:398px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15628 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15628_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15629 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:230px;
  width:356px;
  height:206px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15629 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15629_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15630 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:230px;
  width:34px;
  height:248px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15631 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:230px;
  width:34px;
  height:248px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15632 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:230px;
  width:34px;
  height:248px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15633 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:73px;
  width:101px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15634 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:73px;
  width:101px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15635 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:73px;
  width:95px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15636 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:73px;
  width:101px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15637 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:73px;
  width:101px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15638 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:73px;
  width:101px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15639 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:268px;
  width:101px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15640 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:395px;
  width:101px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15641 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:233px;
  width:101px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
