body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1264px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:773px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5562 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:40px;
  width:375px;
  height:773px;
  display:flex;
  opacity:0.5;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:428px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5563 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:290px;
  width:361px;
  height:428px;
  display:flex;
}
#u5563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u5564 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:40px;
  width:375px;
  height:64px;
  display:flex;
  color:#CC99CC;
}
#u5564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:16px;
}
#u5565 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:45px;
  width:373px;
  height:16px;
  display:flex;
}
#u5565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u5566 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:76px;
  width:128px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u5566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u5567 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:77px;
  width:8px;
  height:14px;
  display:flex;
}
#u5567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u5568 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:761px;
  width:375px;
  height:52px;
  display:flex;
  color:#CC99CC;
}
#u5568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5569 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:120px;
  width:361px;
  height:161px;
  display:flex;
}
#u5569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5570 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:135px;
  width:256px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u5570 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5570_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5571 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:176px;
  width:134px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u5571 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5571_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5572 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:176px;
  width:134px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u5572 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5572_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5573 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:201px;
  width:72px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u5573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5573_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5574 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:201px;
  width:63px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u5574 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5574_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5575 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:226px;
  width:48px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u5575 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5575_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5576 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:226px;
  width:60px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u5576 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5576_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5577 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:251px;
  width:132px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u5577 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5577_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5578 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:332px;
  width:96px;
  height:22px;
  display:flex;
}
#u5578 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5578_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u5579 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:390px;
  width:184px;
  height:22px;
  display:flex;
  color:#AAAAAA;
}
#u5579 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5579_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u5580 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:364px;
  width:107px;
  height:22px;
  display:flex;
  color:#AAAAAA;
}
#u5580 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5580_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5581 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:332px;
  width:100px;
  height:22px;
  display:flex;
}
#u5581 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5581_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u5582 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:364px;
  width:74px;
  height:16px;
  display:flex;
  color:#AAAAAA;
}
#u5582 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5582_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5D99FE;
}
#u5583 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:412px;
  width:32px;
  height:22px;
  display:flex;
  color:#5D99FE;
}
#u5583 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5583_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5D99FE;
}
#u5584 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:412px;
  width:32px;
  height:22px;
  display:flex;
  color:#5D99FE;
}
#u5584 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5584_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u5585 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:451px;
  width:354px;
  height:1px;
  display:flex;
}
#u5585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5586 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:470px;
  width:104px;
  height:22px;
  display:flex;
}
#u5586 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5586_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5587 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:296px;
  width:22px;
  height:22px;
  display:flex;
}
#u5587 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5587_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5589 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:72px;
  width:64px;
  height:26px;
  display:flex;
}
#u5589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5591 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:78px;
  width:15px;
  height:15px;
  display:flex;
}
#u5591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5592 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:83px;
  width:6px;
  height:6px;
  display:flex;
}
#u5592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u5593 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:81px;
  width:8px;
  height:8px;
  display:flex;
}
#u5593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5594 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:83px;
  width:5px;
  height:5px;
  display:flex;
}
#u5594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5595 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:83px;
  width:5px;
  height:5px;
  display:flex;
}
#u5595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:773px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5596 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:375px;
  height:773px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:428px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5597 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:290px;
  width:361px;
  height:428px;
  display:flex;
}
#u5597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u5598 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:375px;
  height:64px;
  display:flex;
  color:#CC99CC;
}
#u5598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:16px;
}
#u5599 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:45px;
  width:373px;
  height:16px;
  display:flex;
}
#u5599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u5600 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:76px;
  width:128px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u5600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u5601 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:77px;
  width:8px;
  height:14px;
  display:flex;
}
#u5601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u5602 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:761px;
  width:375px;
  height:52px;
  display:flex;
  color:#CC99CC;
}
#u5602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5603 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:120px;
  width:361px;
  height:161px;
  display:flex;
}
#u5603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5604 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:135px;
  width:256px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u5604 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5604_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5605 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:176px;
  width:134px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u5605 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5605_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5606 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:176px;
  width:134px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u5606 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5606_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5607 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:201px;
  width:72px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u5607 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5607_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5608 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:201px;
  width:63px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u5608 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5608_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5609 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:226px;
  width:48px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u5609 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5609_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5610 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:226px;
  width:60px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u5610 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5610_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5611 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:251px;
  width:132px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u5611 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5611_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:33px;
}
#u5612 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:521px;
  width:355px;
  height:33px;
  display:flex;
  color:#409EFF;
}
#u5612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u5613 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:451px;
  width:354px;
  height:1px;
  display:flex;
}
#u5613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5614 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:470px;
  width:94px;
  height:22px;
  display:flex;
}
#u5614 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5614_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5615 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:296px;
  width:22px;
  height:22px;
  display:flex;
}
#u5615 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5615_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5616 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:72px;
  width:64px;
  height:26px;
  display:flex;
}
#u5616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5617 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:78px;
  width:15px;
  height:15px;
  display:flex;
}
#u5617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5618 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:83px;
  width:6px;
  height:6px;
  display:flex;
}
#u5618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u5619 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:81px;
  width:8px;
  height:8px;
  display:flex;
}
#u5619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5620 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:83px;
  width:5px;
  height:5px;
  display:flex;
}
#u5620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5621 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:83px;
  width:5px;
  height:5px;
  display:flex;
}
#u5621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:33px;
}
#u5622 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:521px;
  width:355px;
  height:33px;
  display:flex;
  color:#409EFF;
}
#u5622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5D99FE;
}
#u5623 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:296px;
  width:88px;
  height:22px;
  display:flex;
  color:#5D99FE;
}
#u5623 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5623_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5D99FE;
}
#u5624 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:296px;
  width:88px;
  height:22px;
  display:flex;
  color:#5D99FE;
}
#u5624 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5624_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5625 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:343px;
  width:340px;
  height:150px;
  display:flex;
  font-size:14px;
}
#u5625 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u5626 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:280px;
  width:340px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u5626 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5627 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:521px;
  width:392px;
  height:94px;
  display:flex;
  font-size:14px;
}
#u5627 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5628 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:672px;
  width:421px;
  height:168px;
  display:flex;
  font-size:14px;
}
#u5628 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:28px;
}
#u5629 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:773px;
  width:167px;
  height:28px;
  display:flex;
  color:#409EFF;
}
#u5629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5630 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:290px;
  width:93px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5631 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:284px;
  width:93px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:28px;
  background:-webkit-linear-gradient(284.961344764743deg, rgba(64, 158, 255, 1) 16%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 84%, rgba(0, 102, 255, 1) 84%);
  background:-moz-linear-gradient(165.038655235257deg, rgba(64, 158, 255, 1) 16%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 84%, rgba(0, 102, 255, 1) 84%);
  background:linear-gradient(165.038655235257deg, rgba(64, 158, 255, 1) 16%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 84%, rgba(0, 102, 255, 1) 84%);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5632 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:773px;
  width:167px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u5632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:28px;
}
#u5633 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:773px;
  width:167px;
  height:28px;
  display:flex;
  color:#409EFF;
}
#u5633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:28px;
  background:-webkit-linear-gradient(284.961344764743deg, rgba(64, 158, 255, 1) 16%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 84%, rgba(0, 102, 255, 1) 84%);
  background:-moz-linear-gradient(165.038655235257deg, rgba(64, 158, 255, 1) 16%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 84%, rgba(0, 102, 255, 1) 84%);
  background:linear-gradient(165.038655235257deg, rgba(64, 158, 255, 1) 16%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 84%, rgba(0, 102, 255, 1) 84%);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5634 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:773px;
  width:167px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u5634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
