body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2394px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u14642 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:1110px;
  height:900px;
  display:flex;
}
#u14642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:70px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%, rgba(242, 242, 242, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u14643 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:106px;
  width:151px;
  height:70px;
  display:flex;
  font-size:28px;
}
#u14643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:66px;
  background:-webkit-linear-gradient(334.134928659922deg, rgba(58, 142, 230, 1) 36%, rgba(58, 142, 230, 1) 36%, rgba(102, 177, 255, 1) 64%, rgba(102, 177, 255, 1) 64%);
  background:-moz-linear-gradient(115.865071340078deg, rgba(58, 142, 230, 1) 36%, rgba(58, 142, 230, 1) 36%, rgba(102, 177, 255, 1) 64%, rgba(102, 177, 255, 1) 64%);
  background:linear-gradient(115.865071340078deg, rgba(58, 142, 230, 1) 36%, rgba(58, 142, 230, 1) 36%, rgba(102, 177, 255, 1) 64%, rgba(102, 177, 255, 1) 64%);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14644 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:1110px;
  height:66px;
  display:flex;
  color:#FFFFFF;
}
#u14644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u14645 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:55px;
  width:96px;
  height:37px;
  display:flex;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u14645 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14645_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14646 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:67px;
  width:96px;
  height:18px;
  display:flex;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14646 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14646_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14647 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:49px;
  width:50px;
  height:50px;
  display:flex;
}
#u14647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u14648 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:58px;
  width:30px;
  height:33px;
  display:flex;
}
#u14648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
}
#u14649 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:51px;
  width:25px;
  height:28px;
  display:flex;
}
#u14649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u14650 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:84px;
  width:26px;
  height:15px;
  display:flex;
  font-family:'Bodoni MT Poster Compressed Light', 'Bodoni MT Poster', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u14650 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14650_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14651 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u14651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14652 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u14652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14653 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u14653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14654 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u14654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.549019607843137);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14655 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u14655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u14656 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:195px;
  width:25px;
  height:25px;
  display:flex;
}
#u14656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14657 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:195px;
  width:72px;
  height:24px;
  display:flex;
  font-size:18px;
}
#u14657 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14657_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u14660 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:121px;
  width:40px;
  height:40px;
  display:flex;
}
#u14660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u14661 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:129px;
  width:25px;
  height:25px;
  display:flex;
}
#u14661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u14662 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:129px;
  width:80px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u14662 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14662_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14663 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:235px;
  width:64px;
  height:22px;
  display:flex;
}
#u14663 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14663_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u14664 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:280px;
  width:25px;
  height:25px;
  display:flex;
}
#u14664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14665 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:280px;
  width:72px;
  height:24px;
  display:flex;
  font-size:18px;
}
#u14665 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14665_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14666 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:344px;
  width:64px;
  height:22px;
  display:flex;
}
#u14666 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14666_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008080;
}
#u14667 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:377px;
  width:64px;
  height:22px;
  display:flex;
  color:#008080;
}
#u14667 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14667_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14668 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:312px;
  width:64px;
  height:22px;
  display:flex;
}
#u14668 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14668_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u14669 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:419px;
  width:25px;
  height:25px;
  display:flex;
}
#u14669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14670 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:419px;
  width:72px;
  height:24px;
  display:flex;
  font-size:18px;
}
#u14670 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14670_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14671 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:455px;
  width:64px;
  height:22px;
  display:flex;
}
#u14671 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14671_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u14672 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:499px;
  width:25px;
  height:25px;
  display:flex;
}
#u14672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14673 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:499px;
  width:72px;
  height:24px;
  display:flex;
  font-size:18px;
}
#u14673 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14673_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14674 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:535px;
  width:64px;
  height:22px;
  display:flex;
}
#u14674 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14674_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14675 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:568px;
  width:64px;
  height:22px;
  display:flex;
}
#u14675 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14675_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14676 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:601px;
  width:64px;
  height:22px;
  display:flex;
}
#u14676 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14676_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(166, 205, 251, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u14677 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:73px;
  width:101px;
  height:32px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u14677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14678 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:235px;
  width:906px;
  height:132px;
}
#u14679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u14679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  display:flex;
  text-align:left;
}
#u14679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u14680 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:0px;
  width:58px;
  height:30px;
  display:flex;
  text-align:left;
}
#u14680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
}
#u14681 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:0px;
  width:290px;
  height:30px;
  display:flex;
  text-align:left;
}
#u14681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u14682 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:70px;
  height:30px;
  display:flex;
  text-align:left;
}
#u14682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u14683 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:0px;
  width:151px;
  height:30px;
  display:flex;
  text-align:left;
}
#u14683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u14684 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:0px;
  width:125px;
  height:30px;
  display:flex;
  text-align:left;
}
#u14684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u14685 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:0px;
  width:160px;
  height:30px;
  display:flex;
  text-align:left;
}
#u14685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u14686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:52px;
  height:36px;
  display:flex;
  text-align:left;
}
#u14686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:36px;
}
#u14687 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:30px;
  width:58px;
  height:36px;
  display:flex;
  text-align:left;
}
#u14687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:36px;
}
#u14688 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:30px;
  width:290px;
  height:36px;
  display:flex;
  text-align:left;
}
#u14688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u14689 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:70px;
  height:36px;
  display:flex;
  text-align:left;
}
#u14689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u14690 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:30px;
  width:151px;
  height:36px;
  display:flex;
  text-align:left;
}
#u14690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u14691 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:30px;
  width:125px;
  height:36px;
  display:flex;
  text-align:left;
}
#u14691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u14692 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:30px;
  width:160px;
  height:36px;
  display:flex;
  text-align:left;
}
#u14692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u14693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:52px;
  height:30px;
  display:flex;
  text-align:left;
}
#u14693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u14694 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:66px;
  width:58px;
  height:30px;
  display:flex;
  text-align:left;
}
#u14694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
}
#u14695 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:66px;
  width:290px;
  height:30px;
  display:flex;
  text-align:left;
}
#u14695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u14696 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:66px;
  width:70px;
  height:30px;
  display:flex;
  text-align:left;
}
#u14696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u14697 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:66px;
  width:151px;
  height:30px;
  display:flex;
  text-align:left;
}
#u14697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u14698 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:66px;
  width:125px;
  height:30px;
  display:flex;
  text-align:left;
}
#u14698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u14699 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:66px;
  width:160px;
  height:30px;
  display:flex;
  text-align:left;
}
#u14699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u14700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:52px;
  height:36px;
  display:flex;
  text-align:left;
}
#u14700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:36px;
}
#u14701 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:96px;
  width:58px;
  height:36px;
  display:flex;
  text-align:left;
}
#u14701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:36px;
}
#u14702 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:96px;
  width:290px;
  height:36px;
  display:flex;
  text-align:left;
}
#u14702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u14703 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:96px;
  width:70px;
  height:36px;
  display:flex;
  text-align:left;
}
#u14703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u14704 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:96px;
  width:151px;
  height:36px;
  display:flex;
  text-align:left;
}
#u14704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u14705 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:96px;
  width:125px;
  height:36px;
  display:flex;
  text-align:left;
}
#u14705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u14706 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:96px;
  width:160px;
  height:36px;
  display:flex;
  text-align:left;
}
#u14706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14707 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:408px;
  width:190px;
  height:16px;
  display:flex;
}
#u14707 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14707_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
}
#u14708 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:403px;
  width:78px;
  height:26px;
  display:flex;
  text-align:left;
}
#u14708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u14709 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:411px;
  width:10px;
  height:10px;
  display:flex;
}
#u14709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u14710 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:403px;
  width:41px;
  height:26px;
  display:flex;
}
#u14710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u14711 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:403px;
  width:56px;
  height:26px;
  display:flex;
}
#u14711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u14712 {
  border-width:0px;
  position:absolute;
  left:969px;
  top:403px;
  width:27px;
  height:26px;
  display:flex;
  color:#FFFFFF;
}
#u14712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u14713 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:403px;
  width:56px;
  height:26px;
  display:flex;
}
#u14713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u14714 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:403px;
  width:56px;
  height:26px;
  display:flex;
}
#u14714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background:-webkit-linear-gradient(281.812530160719deg, rgba(64, 158, 255, 1) 6%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 94%, rgba(0, 102, 255, 1) 94%);
  background:-moz-linear-gradient(168.187469839281deg, rgba(64, 158, 255, 1) 6%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 94%, rgba(0, 102, 255, 1) 94%);
  background:linear-gradient(168.187469839281deg, rgba(64, 158, 255, 1) 6%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 94%, rgba(0, 102, 255, 1) 94%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14715 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:195px;
  width:88px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u14715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.87843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14716 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:129px;
  width:924px;
  height:50px;
  display:flex;
}
#u14716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14717 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:138px;
  width:305px;
  height:33px;
  display:flex;
  color:#CCCCCC;
  text-align:left;
}
#u14717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:-webkit-linear-gradient(276.776626300258deg, rgba(64, 158, 255, 1) -11%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 111%, rgba(0, 102, 255, 1) 111%);
  background:-moz-linear-gradient(173.223373699742deg, rgba(64, 158, 255, 1) -11%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 111%, rgba(0, 102, 255, 1) 111%);
  background:linear-gradient(173.223373699742deg, rgba(64, 158, 255, 1) -11%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 111%, rgba(0, 102, 255, 1) 111%);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14718 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:138px;
  width:66px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u14718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14719_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14719_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14719 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:138px;
  width:215px;
  height:33px;
  display:flex;
}
#u14719 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14719_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14719.disabled {
}
.u14719_input_option {
}
#u14720_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14720_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14720 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:138px;
  width:229px;
  height:33px;
  display:flex;
}
#u14720 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14720_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14720.disabled {
}
.u14720_input_option {
}
#u14721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1195px;
  height:534px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14721 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:138px;
  width:1195px;
  height:534px;
  display:flex;
}
#u14721 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14721_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14722 {
  border-width:0px;
  position:absolute;
  left:1614px;
  top:418px;
  width:250px;
  height:120px;
}
#u14723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u14723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u14724 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:150px;
  height:30px;
  display:flex;
}
#u14724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u14725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u14726 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:150px;
  height:30px;
  display:flex;
}
#u14726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u14727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u14728 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:150px;
  height:30px;
  display:flex;
}
#u14728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
}
#u14729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u14730 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:90px;
  width:150px;
  height:30px;
  display:flex;
}
#u14730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14731 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:73px;
  width:101px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14732 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:73px;
  width:101px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14733 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:73px;
  width:101px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14734 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:73px;
  width:101px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14735 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:73px;
  width:101px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14736 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:73px;
  width:101px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
