body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1536px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:773px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u9742 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:375px;
  height:773px;
  display:flex;
}
#u9742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u9743 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:375px;
  height:64px;
  display:flex;
  color:#CC99CC;
}
#u9743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:16px;
}
#u9744 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:45px;
  width:373px;
  height:16px;
  display:flex;
}
#u9744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9745 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:76px;
  width:159px;
  height:18px;
  display:flex;
  font-size:18px;
}
#u9745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u9746 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:77px;
  width:8px;
  height:14px;
  display:flex;
}
#u9746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:622px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9747 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:142px;
  width:355px;
  height:622px;
  display:flex;
}
#u9747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u9748 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:182px;
  width:328px;
  height:1px;
  display:flex;
}
#u9748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9749 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:156px;
  width:28px;
  height:16px;
  display:flex;
  color:#999999;
}
#u9749 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9749_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u9750 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:221px;
  width:328px;
  height:1px;
  display:flex;
}
#u9750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9751 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:195px;
  width:42px;
  height:16px;
  display:flex;
  color:#999999;
}
#u9751 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9751_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9752 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:238px;
  width:28px;
  height:16px;
  display:flex;
  color:#999999;
}
#u9752 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9752_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9753 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:156px;
  width:32px;
  height:22px;
  display:flex;
}
#u9753 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9753_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9754 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:195px;
  width:153px;
  height:22px;
  display:flex;
}
#u9754 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9754_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9755 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:238px;
  width:72px;
  height:22px;
  display:flex;
}
#u9755 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9755_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9757 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:71px;
  width:64px;
  height:26px;
  display:flex;
}
#u9757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9759 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:77px;
  width:15px;
  height:15px;
  display:flex;
}
#u9759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9760 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:82px;
  width:6px;
  height:6px;
  display:flex;
}
#u9760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u9761 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:80px;
  width:8px;
  height:8px;
  display:flex;
}
#u9761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9762 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:82px;
  width:5px;
  height:5px;
  display:flex;
}
#u9762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9763 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:82px;
  width:5px;
  height:5px;
  display:flex;
}
#u9763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:26px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u9764 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:104px;
  width:375px;
  height:26px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u9764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u9765 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:764px;
  width:375px;
  height:52px;
  display:flex;
  color:#CC99CC;
}
#u9765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:-webkit-linear-gradient(297.114727438784deg, rgba(64, 158, 255, 1) 35%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 65%, rgba(0, 102, 255, 1) 65%);
  background:-moz-linear-gradient(152.885272561216deg, rgba(64, 158, 255, 1) 35%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 65%, rgba(0, 102, 255, 1) 65%);
  background:linear-gradient(152.885272561216deg, rgba(64, 158, 255, 1) 35%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 65%, rgba(0, 102, 255, 1) 65%);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u9766 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:773px;
  width:320px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u9766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#7F7F7F;
}
#u9767 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:624px;
  width:283px;
  height:18px;
  display:flex;
  font-size:13px;
  color:#7F7F7F;
}
#u9767 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9767_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u9768 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:265px;
  width:328px;
  height:1px;
  display:flex;
}
#u9768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9769 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:402px;
  width:274px;
  height:38px;
  display:flex;
}
#u9769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u9770 {
  border-width:0px;
  position:absolute;
  left:1283px;
  top:413px;
  width:183px;
  height:22px;
  display:flex;
  color:#909399;
}
#u9770 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9770_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(144, 147, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9771 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:412px;
  width:18px;
  height:18px;
  display:flex;
}
#u9771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u9772 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:416px;
  width:11px;
  height:11px;
  display:flex;
}
#u9772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:38px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9773 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:517px;
  width:322px;
  height:38px;
  display:flex;
}
#u9773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u9774 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:528px;
  width:215px;
  height:22px;
  display:flex;
  color:#909399;
}
#u9774 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9774_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(144, 147, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9775 {
  border-width:0px;
  position:absolute;
  left:1234px;
  top:527px;
  width:18px;
  height:18px;
  display:flex;
}
#u9775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u9776 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:531px;
  width:11px;
  height:11px;
  display:flex;
}
#u9776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
}
#u9777 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:660px;
  width:186px;
  height:25px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
  text-align:center;
}
#u9777 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9778 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:53px;
  width:84px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
