body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1457px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:539px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15642 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:825px;
  height:539px;
  display:flex;
}
#u15642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:436px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u15643 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:77px;
  width:686px;
  height:436px;
  display:flex;
  text-align:left;
}
#u15643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u15644 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:141px;
  width:88px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u15644 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15644_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:2px;
}
#u15645 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:167px;
  width:598px;
  height:1px;
  display:flex;
}
#u15645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u15646 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:141px;
  width:35px;
  height:22px;
  display:flex;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u15646 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15646_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u15647 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:195px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u15647 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15647_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15648 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:195px;
  width:589px;
  height:129px;
  display:flex;
}
#u15648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u15649 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:298px;
  width:44px;
  height:22px;
  display:flex;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u15649 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15649_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u15650 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:349px;
  width:80px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u15650 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15650_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u15651 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:349px;
  width:95px;
  height:79px;
  display:flex;
  font-size:36px;
  color:#999999;
}
#u15651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:32px;
  background:-webkit-linear-gradient(321.864012947866deg, rgba(64, 158, 255, 1) 43%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 57%, rgba(0, 102, 255, 1) 57%);
  background:-moz-linear-gradient(128.135987052134deg, rgba(64, 158, 255, 1) 43%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 57%, rgba(0, 102, 255, 1) 57%);
  background:linear-gradient(128.135987052134deg, rgba(64, 158, 255, 1) 43%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 57%, rgba(0, 102, 255, 1) 57%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15652 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:77px;
  width:686px;
  height:32px;
  display:flex;
}
#u15652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u15653 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:85px;
  width:96px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u15653 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15653_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u15654 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:79px;
  width:27px;
  height:22px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u15654 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u15655 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:454px;
  width:102px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u15655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u15656 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:454px;
  width:102px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u15656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15657 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:131px;
  width:282px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15657 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15657_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15658 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:195px;
  width:303px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15658 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15658_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15659 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:340px;
  width:364px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15659 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15659_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15660 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:461px;
  width:312px;
  height:56px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15660 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15660_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  color:#CCCCCC;
  text-align:left;
}
#u15661 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:454px;
  width:231px;
  height:108px;
  display:flex;
  color:#CCCCCC;
  text-align:left;
}
#u15661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u15662 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:517px;
  width:48px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u15662 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15662_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u15663 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:507px;
  width:200px;
  height:1px;
  display:flex;
}
#u15663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
