body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:907px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:867px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u13486 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:375px;
  height:867px;
  display:flex;
}
#u13486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u13487 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:375px;
  height:64px;
  display:flex;
  color:#CC99CC;
}
#u13487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:16px;
}
#u13488 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:45px;
  width:373px;
  height:16px;
  display:flex;
}
#u13488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u13489 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:73px;
  width:155px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u13489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:771px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13490 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:104px;
  width:375px;
  height:771px;
  display:flex;
}
#u13490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13491 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:116px;
  width:26px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u13491 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:18px;
}
#u13492 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:130px;
  width:398px;
  height:90px;
  display:flex;
  font-size:12px;
  line-height:18px;
}
#u13492 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13493 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:272px;
  width:363px;
  height:5px;
  display:flex;
}
#u13493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13494 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:116px;
  width:139px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u13494 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u13495 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:248px;
  width:139px;
  height:22px;
  display:flex;
  color:#D9001B;
}
#u13495 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:2px;
}
#u13496 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:235px;
  width:316px;
  height:1px;
  display:flex;
}
#u13496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(236, 128, 141, 1) 0%, rgba(226, 62, 82, 1) 51%, rgba(217, 0, 27, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(236, 128, 141, 1) 0%, rgba(226, 62, 82, 1) 51%, rgba(217, 0, 27, 1) 100%);
  background:linear-gradient(180deg, rgba(236, 128, 141, 1) 0%, rgba(226, 62, 82, 1) 51%, rgba(217, 0, 27, 1) 100%);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u13497 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:246px;
  width:61px;
  height:20px;
  display:flex;
  font-size:11px;
  color:#FFFFFF;
}
#u13497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13498 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:290px;
  width:26px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u13498 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:18px;
}
#u13499 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:315px;
  width:371px;
  height:90px;
  display:flex;
  font-size:12px;
  line-height:18px;
}
#u13499 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13500 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:290px;
  width:139px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u13500 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u13501 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:435px;
  width:139px;
  height:22px;
  display:flex;
  color:#D9001B;
}
#u13501 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:2px;
}
#u13502 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:428px;
  width:316px;
  height:1px;
  display:flex;
}
#u13502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u13503 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:435px;
  width:48px;
  height:22px;
  display:flex;
  color:#AAAAAA;
}
#u13503 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13503_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13504 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:461px;
  width:363px;
  height:5px;
  display:flex;
}
#u13504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13505 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:474px;
  width:26px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u13505 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:18px;
}
#u13506 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:499px;
  width:395px;
  height:108px;
  display:flex;
  font-size:12px;
  line-height:18px;
}
#u13506 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13507 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:474px;
  width:139px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u13507 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u13508 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:629px;
  width:139px;
  height:22px;
  display:flex;
  color:#D9001B;
}
#u13508 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:2px;
}
#u13509 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:627px;
  width:316px;
  height:1px;
  display:flex;
}
#u13509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u13510 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:629px;
  width:80px;
  height:22px;
  display:flex;
  color:#AAAAAA;
}
#u13510 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13510_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:5px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13511 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:654px;
  width:363px;
  height:5px;
  display:flex;
}
#u13511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:2px;
}
#u13512 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:840px;
  width:338px;
  height:1px;
  display:flex;
}
#u13512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:25px;
}
#u13513 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:828px;
  width:133px;
  height:25px;
  display:flex;
  font-size:12px;
  color:#D7D7D7;
  text-align:center;
}
#u13513 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13514 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:668px;
  width:26px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u13514 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:18px;
}
#u13515 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:693px;
  width:387px;
  height:108px;
  display:flex;
  font-size:12px;
  line-height:18px;
}
#u13515 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13516 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:668px;
  width:139px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u13516 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u13517 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:803px;
  width:139px;
  height:22px;
  display:flex;
  color:#D9001B;
}
#u13517 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:2px;
}
#u13518 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:790px;
  width:316px;
  height:1px;
  display:flex;
}
#u13518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u13519 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:803px;
  width:80px;
  height:22px;
  display:flex;
  color:#AAAAAA;
}
#u13519 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13519_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u13520 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:78px;
  width:8px;
  height:14px;
  display:flex;
}
#u13520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13522 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:69px;
  width:64px;
  height:26px;
  display:flex;
}
#u13522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u13524 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:75px;
  width:15px;
  height:15px;
  display:flex;
}
#u13524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u13525 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:80px;
  width:6px;
  height:6px;
  display:flex;
}
#u13525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u13526 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:78px;
  width:8px;
  height:8px;
  display:flex;
}
#u13526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u13527 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:80px;
  width:5px;
  height:5px;
  display:flex;
}
#u13527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u13528 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:80px;
  width:5px;
  height:5px;
  display:flex;
}
#u13528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:324px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:27px;
}
#u13529 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:144px;
  width:440px;
  height:324px;
  display:flex;
  line-height:27px;
}
#u13529 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13530 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:104px;
  width:373px;
  height:803px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13531 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:48px;
  width:84px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
