body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1427px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:755px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15487 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:13px;
  width:637px;
  height:755px;
  display:flex;
}
#u15487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:755px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15488 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:13px;
  width:637px;
  height:755px;
  display:flex;
}
#u15488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:649px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15489 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:50px;
  width:525px;
  height:649px;
  display:flex;
  text-align:left;
}
#u15489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:32px;
  background:-webkit-linear-gradient(314.26800646205deg, rgba(64, 158, 255, 1) 42%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 58%, rgba(0, 102, 255, 1) 58%);
  background:-moz-linear-gradient(135.73199353795deg, rgba(64, 158, 255, 1) 42%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 58%, rgba(0, 102, 255, 1) 58%);
  background:linear-gradient(135.73199353795deg, rgba(64, 158, 255, 1) 42%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 58%, rgba(0, 102, 255, 1) 58%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15490 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:50px;
  width:525px;
  height:32px;
  display:flex;
}
#u15490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15491 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:58px;
  width:32px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u15491 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15491_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u15492 {
  border-width:0px;
  position:absolute;
  left:1323px;
  top:52px;
  width:27px;
  height:22px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u15492 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:649px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15493 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:50px;
  width:525px;
  height:649px;
  display:flex;
  text-align:left;
}
#u15493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:32px;
  background:-webkit-linear-gradient(314.26800646205deg, rgba(64, 158, 255, 1) 42%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 58%, rgba(0, 102, 255, 1) 58%);
  background:-moz-linear-gradient(135.73199353795deg, rgba(64, 158, 255, 1) 42%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 58%, rgba(0, 102, 255, 1) 58%);
  background:linear-gradient(135.73199353795deg, rgba(64, 158, 255, 1) 42%, rgba(64, 158, 255, 1) 50%, rgba(0, 102, 255, 1) 58%, rgba(0, 102, 255, 1) 58%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15494 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:50px;
  width:525px;
  height:32px;
  display:flex;
}
#u15494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15495 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:58px;
  width:32px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u15495 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15495_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u15496 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:52px;
  width:27px;
  height:22px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u15496 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u15497 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:654px;
  width:102px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u15497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15498 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:157px;
  width:256px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u15498 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15498_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15499 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:219px;
  width:127px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u15499 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15499_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15500 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:219px;
  width:97px;
  height:15px;
  display:flex;
  font-size:12px;
}
#u15500 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15500_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15501 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:244px;
  width:70px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u15501 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15501_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15502 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:244px;
  width:62px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u15502 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15502_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15503 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:269px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u15503 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15503_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15504 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:269px;
  width:60px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u15504 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15504_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15505 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:294px;
  width:132px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u15505 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15505_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u15506 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:351px;
  width:24px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u15506 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15506_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15507 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:394px;
  width:169px;
  height:16px;
  display:flex;
}
#u15507 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15507_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15508 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:394px;
  width:36px;
  height:16px;
  display:flex;
}
#u15508 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15508_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u15509 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:447px;
  width:210px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#CCCCCC;
}
#u15509 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15509_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:2px;
}
#u15510 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:513px;
  width:364px;
  height:1px;
  display:flex;
}
#u15510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15511 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:524px;
  width:108px;
  height:16px;
  display:flex;
}
#u15511 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15511_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15512 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:550px;
  width:98px;
  height:16px;
  display:flex;
}
#u15512 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15512_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15513 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:576px;
  width:98px;
  height:16px;
  display:flex;
}
#u15513 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15513_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u15515 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:146px;
  width:120px;
  height:120px;
  display:flex;
}
#u15515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u15516 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:169px;
  width:30px;
  height:29px;
  display:flex;
}
#u15516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u15517 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:208px;
  width:91px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#FF0000;
}
#u15517 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15517_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
}
#u15518 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:232px;
  width:70px;
  height:11px;
  display:flex;
  font-size:10px;
  color:#FF0000;
}
#u15518 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15518_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:150px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#409EFF;
}
#u15519 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:102px;
  width:163px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#409EFF;
}
#u15519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:150px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u15520 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:102px;
  width:163px;
  height:30px;
  display:flex;
  color:#CCCCCC;
}
#u15520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15521 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:132px;
  width:335px;
  height:164px;
  display:flex;
}
#u15521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u15522 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:172px;
  width:328px;
  height:1px;
  display:flex;
}
#u15522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u15523 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:146px;
  width:28px;
  height:16px;
  display:flex;
  color:#999999;
}
#u15523 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15523_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u15524 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:211px;
  width:328px;
  height:1px;
  display:flex;
}
#u15524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u15525 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:185px;
  width:28px;
  height:16px;
  display:flex;
  color:#999999;
}
#u15525 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15525_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u15526 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:254px;
  width:328px;
  height:1px;
  display:flex;
}
#u15526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u15527 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:228px;
  width:28px;
  height:16px;
  display:flex;
  color:#999999;
}
#u15527 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15527_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u15528 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:269px;
  width:42px;
  height:16px;
  display:flex;
  color:#999999;
}
#u15528 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15528_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u15529 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:368px;
  width:328px;
  height:1px;
  display:flex;
}
#u15529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u15530 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:311px;
  width:64px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u15530 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15530_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15531 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:342px;
  width:42px;
  height:16px;
  display:flex;
}
#u15531 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15531_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u15532 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:436px;
  width:328px;
  height:1px;
  display:flex;
}
#u15532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u15533 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:379px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u15533 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15533_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15534 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:410px;
  width:42px;
  height:16px;
  display:flex;
}
#u15534 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15534_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u15535 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:504px;
  width:328px;
  height:1px;
  display:flex;
}
#u15535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u15536 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:447px;
  width:24px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u15536 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15536_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15537 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:478px;
  width:42px;
  height:16px;
  display:flex;
}
#u15537 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15537_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u15538 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:572px;
  width:328px;
  height:1px;
  display:flex;
}
#u15538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u15539 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:515px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u15539 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15539_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15540 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:546px;
  width:56px;
  height:16px;
  display:flex;
}
#u15540 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15540_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15541 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:146px;
  width:28px;
  height:16px;
  display:flex;
}
#u15541 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15541_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15542 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:185px;
  width:14px;
  height:16px;
  display:flex;
}
#u15542 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15542_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15543 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:228px;
  width:30px;
  height:16px;
  display:flex;
}
#u15543 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15543_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15544 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:269px;
  width:86px;
  height:16px;
  display:flex;
}
#u15544 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15544_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:76px;
}
#u15545 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:583px;
  width:78px;
  height:76px;
  display:flex;
}
#u15545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:150px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u15546 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:102px;
  width:163px;
  height:30px;
  display:flex;
  color:#CCCCCC;
}
#u15546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:150px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#409EFF;
}
#u15547 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:102px;
  width:163px;
  height:30px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#409EFF;
}
#u15547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u15548 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:654px;
  width:102px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u15548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u15549 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:420px;
  width:114px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u15549 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15549_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
